* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 800px;
    height: 100%;
    margin: auto;
    background-color: #faf8d9;
}

.mainPic {
    text-align: center;
    }
.mainPic img {
    width: 300px;
    }

.gallery {
    text-align: center;
}

.gallery_item {
    margin: 30px;
}