* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 600px;
    margin: 0 auto;
}

.item_box {
    height: 100%;
    margin: 20px;
    background-color: #faf8d9;
    display: inline-block;
}

.add_item{
    margin: 20px 0;
}

#checkout {
    display: block;
    margin: 20px 0;
}

